@{
    ViewBag.Title = "Create 1099s";
}

<h1>Create 1099s</h1>



    <div class="card-body">
        <h5 class="card-title">
            Use the button below to create 1099s
        </h5>
        <a class="btn btn-primary" style="width:auto"
           asp-controller="admin" asp-action="Create1099">
            Create 1099s
        </a>
    </div>


@section Scripts {
    <script src="~/js/CustomScript.js"></script>
}