@model SmallPortal.Models.Recipient1099InputModel

@{
    ViewData["Title"] = "Recipient1099Create";
}

<h1>Recipient Information</h1>

<h4>Enter the recipient's details and amount received (in the appropriate box)</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Recipient1099Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BusinessName" class="control-label"></label>
                <input asp-for="BusinessName" class="form-control" />
                <span asp-validation-for="BusinessName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TaxIDNumber" class="control-label"></label>
                <input asp-for="TaxIDNumber" class="form-control" />
                <span asp-validation-for="TaxIDNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StreetAddress" class="control-label"></label>
                <input asp-for="StreetAddress" class="form-control" />
                <span asp-validation-for="StreetAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="State" class="control-label"></label>
                <input asp-for="State" class="form-control" />
                <span asp-validation-for="State" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PostalCode" class="control-label"></label>
                <input asp-for="PostalCode" class="form-control" />
                <span asp-validation-for="PostalCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="box1" class="control-label"></label>
                <input asp-for="box1" class="form-control" />
                <span asp-validation-for="box1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="box2" class="control-label"></label>
                <input asp-for="box2" class="form-control" />
                <span asp-validation-for="box2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="box3" class="control-label"></label>
                <input asp-for="box3" class="form-control" />
                <span asp-validation-for="box3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="box4" class="control-label"></label>
                <input asp-for="box4" class="form-control" />
                <span asp-validation-for="box4" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="box5" class="control-label"></label>
                <input asp-for="box5" class="form-control" />
                <span asp-validation-for="box5" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="box6" class="control-label"></label>
                <input asp-for="box6" class="form-control" />
                <span asp-validation-for="box6" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="box7" /> @Html.DisplayNameFor(model => model.box7)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="box8" class="control-label"></label>
                <input asp-for="box8" class="form-control" />
                <span asp-validation-for="box8" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="box9" class="control-label"></label>
                <input asp-for="box9" class="form-control" />
                <span asp-validation-for="box9" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="box10" class="control-label"></label>
                <input asp-for="box10" class="form-control" />
                <span asp-validation-for="box10" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="box12" class="control-label"></label>
                <input asp-for="box12" class="form-control" />
                <span asp-validation-for="box12" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="box13" class="control-label"></label>
                <input asp-for="box13" class="form-control" />
                <span asp-validation-for="box13" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="box14" class="control-label"></label>
                <input asp-for="box14" class="form-control" />
                <span asp-validation-for="box14" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="box15" class="control-label"></label>
                <input asp-for="box15" class="form-control" />
                <span asp-validation-for="box15" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="box16" class="control-label"></label>
                <input asp-for="box16" class="form-control" />
                <span asp-validation-for="box16" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="box17" class="control-label"></label>
                <input asp-for="box17" class="form-control" />
                <span asp-validation-for="box17" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create 1099-MISC" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}