@{
    ViewData["Title"] = "Branding Page";
}

<div class="align-text-bottom">
    <h4 class="display-6">Branding Services</h4>
    <hr />
    <p>
        Branding involves creating a name, symbol or design that is easily identifiable as belonging to the company. 
        This helps to identify a product/service and distinguish it from other competitors’ products or services. 
        We will educate you about branding strategies and based on your needs, we will recommend a suitable branding strategy for your business.
    </p>
</div>