@{
    ViewData["Title"] = "BusinessPlans Page";
}

<div class="align-text-bottom">
    <h4 class="display-6">Business Plans</h4>
    <hr />
    <p>
        A business plan is essential for the success of most businesses. The future of a new business startup depends on a solid plan for guidance.
        It is also critical for attracting capital, either through loans or investors. 
        A business plan will be central to how to start, grow and develop a business; and here are 5 major reasons why a business plan is important:
        1.	It will help you steer your business as you start and grow.
        2.	It is not as hard as you think.
        3.	It will help you to reach business milestones.
        4.	It can help you get funding.
        5.	There is no wrong way to write a business plan.
        Based on your needs, we have three business plan options you can choose: standard, plus, or premium.
    </p>
</div>