@{
    ViewData["Title"] = "Incorporation Page";
}

<div class="align-text-bottom">
    <h4 class="display-6">Business Incorporation</h4>
    <hr />
    <p>
        If you want to incorporate your business, we are here to help you. We would educate you about the appropriate type of incorporation that suits your business needs. 
        The major types of business incorporation include LLC, C-Corp, and S-Corp.
    </p>
</div>