@{
    ViewData["Title"] = "Payroll Page";
}

<div class="align-text-bottom">
    <h4 class="display-6">Payroll Services</h4>
    <hr />
    <p>
       Payroll can be a daunting task for many business owners and it could lead to major liabilities and penalties if the payroll is not done right.
       Our payroll services are supported by Intuit Payroll, a major brand name in accounting software. You can choose from one of the three available plans: Core, Premium, or Elite.  
    </p>
</div>