@{
    ViewData["Title"] = "Taxes Page";
}

<div class="align-text-bottom">
    <h4 class="display-6">Tax Services</h4>
    <hr />
    <p>
        Our qualifies tax preparers are trained to handle all aspects of business income taxes. 
        Don't let unqualified tax preparers get your business audited due to preparation errors or omissions.
    </p>
</div>