@{
    ViewData["Title"] = "WebDevelopment Page";
}

<div class="align-text-bottom">
    <h4 class="display-6">Web Development</h4>
    <hr />
    <p>
       A small business must have an engaging presence on the web, which means having a user-friendly website. 
       We help our clients to create a custom, creative, functional website that will attract visitors and convert them into customers.
       We can create any website from an eCommerce to an educational website.
    </p>
</div>