@{
    ViewData["Title"] = "Home Page";
}

    <div class="align-text-bottom">
        <h2 class="display-6">Small Business Portal</h2>
        <h5 class="display-6">Solutions That Work For Small Businesses!</h5>
        <hr />
        <p>
            We believe in small beginnings and we are here to provide you access to the tools
            you need to enhance and grow your small business; right from incorporating your
            business to running employee payroll. Our job starts with you; understanding what
            you need, so we can present options that make sense for you. We connect you to the
            right tools which can save you time while you focus on growing your small business.
        </p>
    </div>


